ex4/students-xml_xsd_xsl/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="middleName" minOccurs="0"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:byte" name="rollNo" minOccurs="0"/>
              <xs:element type="xs:byte" name="regNo" minOccurs="0"/>
              <xs:element type="xs:short" name="mobileNo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>